<header>
	<h2 class="logo">Logo</h2>
	<nav class="navigation">
		<a href="#">Home</a>
		<a href="#">Jadwal Sidang</a>
		<a href="#">Hasil Sidang</a>
		<a href="#">BAP</a>
		<button class="btn-login-popup">Login</button>
	</nav>
</header>
