<div class="modal-container" id="modal">
	<div class="box-modal">
		<div class="box-search">
			<form action="">
				<input
					type="text"
					spellcheck="false"
					placeholder="Search..."
					id="searchInput" />
			</form>
			<i class="bx bx-search"></i>
		</div>
		<div class="box-result">
			<ul class="list-result"></ul>
		</div>
	</div>
</div>
