<div class="grade-data" data-query="<%= gradeData %>"></div>
<div class="gd-container">
	<div class="dg-head">
		<!-- <div class="box-field">
			<div class="field">
				<div class="label">Topik Skripsi</div>
				<div class="text">XXXXXXXXXXXXXXX XXXXXXXX XXXXXXXX XXXXXXX</div>
			</div>
			<div class="field">
				<div class="label">Fase Sidang</div>
				<div class="text">XXXXXXXXXXXXXXXX</div>
			</div>
			<div class="field">
				<div class="label">Mahasiswa</div>
				<div class="text">XXXXXXXXXXXXXXXX</div>
			</div>
		</div> -->
		<div class="btn-input">Input Nilai</div>
	</div>
	<div class="gd-body">
		<table>
			<thead>
				<tr>
					<th>Evaluator</th>
					<th>Nilai</th>
					<th>Bobot</th>
					<th>Nilai Akhir</th>
				</tr>
			</thead>
			<tbody id="table-body">
				<tr>
					<td>Ketua Penguji</td>
					<td>8491616</td>
					<td>36%</td>
					<td>1555</td>
				</tr>
				<tr>
					<td>Tim Penguji</td>
					<td>8491616</td>
					<td>36%</td>
					<td>1555</td>
				</tr>
				<tr>
					<td>Pendamping</td>
					<td>8491616</td>
					<td>36%</td>
					<td>1555</td>
				</tr>
				<tr>
					<td>Koordinator</td>
					<td>8491616</td>
					<td>36%</td>
					<td>1555</td>
				</tr>
				<tr>
					<td colspan="2">Total</td>
					<td>100%</td>
					<td>1555</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
