<div class="gd-container">
	<div class="gd-header">
		<div class="btn-total">Total</div>
		<div class="btn-uts">UTS</div>
		<div class="btn-review">Review</div>
	</div>
	<div class="gd-body">
		<div class="box-total">
			<table>
				<thead>
					<tr>
						<th>xxxxx</th>
						<th>xxxxx</th>
						<th>xxxxx</th>
						<th>xxxxx</th>
						<th>xxxxx</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>xxxxx</td>
						<td>xxxxx</td>
						<td>xxxxx</td>
						<td>xxxxx</td>
					</tr>
				</tbody>
			</table>
		</div>
		<form action="/grade-detail" method="post">
			<box-input>
				<div class="field">
					<label for="grade-type">Grade Type</label>
					<select name="" id="grade-type">
						<option value="uts">UTS</option>
						<option value="review">Review</option>
					</select>
				</div>
				<div class="field">
					<label for="capaian-materi">Capaian Materi</label>
					<input type="text" name="capaian_materi" id="capaian-materi" />
				</div>
				<div class="field">
					<label for="penguasaan-materi">Penguasaan Materi</label>
					<input type="text" name="penguasaan_materi" id="penguasaan-materi" />
				</div>
				<div class="field">
					<label for="proses-bimbingan">Proses Bimbingan</label>
					<input type="text" name="proses_bimbingan" id="proses-bimbingan" />
				</div>
				<div class="field">
					<label for="presentasi">Presentasi</label>
					<input type="text" name="presentasi" id="presentasi" />
				</div>
				<div class="field">
					<label for="kedisiplinan">Kedisiplinan</label>
					<input type="text" name="kedisiplinan" id="kedisiplinan" />
				</div>
			</box-input>
			<input type="submit" class="btn-submit" />
		</form>
	</div>
</div>
