<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="../public/css/hasilSidangDospem.css" />
  </head>
  <body>
    <div class="hasil-sidang">
      <div class="div">
        <div class="overlap">
          <img class="image" src="img/image-6.png" />
          <div class="text-wrapper">Logout</div>
        </div>
        <div class="overlap-group">
          <div class="rectangle"></div>
          <div class="rectangle-2"></div>
          <div class="text-wrapper-2">Nilai</div>
          <div class="text-wrapper-3">Skripsi</div>
          <div class="text-wrapper-4">NPM</div>
          <div class="text-wrapper-5">Nama</div>
          <div class="rectangle-3"></div>
        </div>
        <div class="overlap-2">
          <div class="rectangle-4"></div>
          <div class="rectangle-5"></div>
          <div class="text-wrapper-6">DD/MM/YY</div>
          <div class="text-wrapper-7">Catatan Sidang</div>
          <div class="rectangle-6"></div>
        </div>
        <div class="container div-wrapper"><div class="text-wrapper-8">Hasil Sidang</div></div>
      </div>
    </div>
  </body>
</html>
