<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../public/css/Home.css" />
  </head>
  <body>
    <div class="home-dosen-penguji">
      <div class="div">
        <div class="Header">
          <p class="p">Welcome</p>
          <button class="Tombol back">
            <img class="Gambar Tombol" src="../public/img/back.png" />
          </button>
        </div>
        <div class="Header2">
            <div class="text-wrapper-3">Dosen Penguji</div>
        </div>
        <div class="button">
            <button class="Jadwal Sidang">
                <img class="Gambar1" src="../public/img/Jadwal.png" />
                <div class="Tulisan">Jadwal Sidang</div>
            </button>
              <button class="Hasil Sidang">
                <img class="Gambar2" src="../public/img/Hasil.png" />
                <div class="Tulisan">Hasil Sidang</div>
              </button>
              <button class="BAP">
                <img class="Gambar3" src="../public/img/BAP.png" />
                <div class="Tulisan">BAP</div>
              </button>
        </div>
      </div>
    </div>
  </body>
</html>
