<div class="home-dosen-penguji">
	<div class="div">
		
		<div class="button">
			<a href="../views/trial-schedule.ejs" class="Jadwal Sidang">
				<img class="Gambar1" src="img/Jadwal.png" />
				<div class="Tulisan">Jadwal Sidang</div>
			</a>
			<a href="../views/trial-result.ejs"class="Hasil Sidang">
				<img class="Gambar2" src="img/Hasil.png" />
				<div class="Tulisan">Hasil Sidang</div>
			</a>
			<a href="../views/user-management.ejs" class="UserManagement">
				<img class="Gambar3" src="img/user-icon-2048x2048-ihoxz4vq.png" />
				<div class="Tulisan">User Management</div>
			</a>
			<a href="../views/trial-schedule-management.ejs" class="ScheduleManagement">
				<img class="Gambar4" src="img/UserManagement-removebg-preview.png" />
				<div class="Tulisan">Schedule Management</div>
			</a>
		</div>
	</div>
</div>
