<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="../public/css/inputHasilSidangDospem.css" />
    
  </head>
  <body>
    <div class="dosen-input-hasil">
      <div class="div">
        <div class="overlap-group">
          <div class="text-wrapper">Hasil Sidang</div>
          <img class="image" src="img/image-6.png" />
          <button class="logout-button">Logout</button>
        </div>
        <div class="overlap">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
            <div class="text-wrapper-3">Nilai</div>
            <div class="rectangle-3">
              <input type="text" class="input-field" placeholder="Masukkan Nilai" style="position: absolute; top: 0; left: 0;">
            </div>
          </div>
          <div class="overlap-2">
            <div class="rectangle-4"></div>
            <div class="rectangle-5"></div>
            <div class="text-wrapper-4">DD/MM/YY</div>
            <div class="text-wrapper-5">Catatan Sidang</div>
            <div class="rectangle-6">
              <input type="text" class="input-field" placeholder="Masukkan Catatan" style="position: absolute; top: 0; left: 0;">
            </div>
          </div>
          
      </div>
      
    </div>
    <button class="save-button">Save</button> <!-- Tombol Save -->
  </body>
</html>