<div
	class="get-data-students"
	data-query="<%= JSON.stringify(dataStudents) %>"></div>
<div
	class="get-data-lecturers"
	data-query="<%= JSON.stringify(dataLecturers) %>"></div>
<div class="umo-container">
	<div class="umo-header">
		<div class="box-left">
			<div class="btn-student active">Students</div>
			<div class="btn-lecturer">Lecturers</div>
		</div>
		<div class="box-middle">
			<div class="box-search">
				<form action="">
					<input type="text" spellcheck="false" placeholder="Search..." />
				</form>
				<i class="bx bx-search"></i>
			</div>
		</div>
		<div class="box-right">
			<a href="/user-management-detail">
				<div class="btn-add-user">
					<i class="bx bx-user-plus"></i>
				</div>
			</a>
		</div>
	</div>
	<div class="umo-body">
		<table class="table">
			<thead id="table-head">
				<tr>
					<th id="thead-th1"></th>
					<th id="thead-th2">Name</th>
					<th id="thead-th3"></th>
					<th id="thead-th4">Action</th>
				</tr>
			</thead>
			<tbody id="table-body"></tbody>
		</table>
	</div>
</div>
