<div class="data-schedule" data-query="<%= scheduleData %>"></div>
<div class="smo-container">
	<div class="smo-body">
		<table class="table">
			<thead id="table-head">
				<tr>
					<th id="thead-th1">Date</th>
					<th id="thead-th2">Time</th>
					<th id="thead-th3">Thesis Phase</th>
					<th id="thead-th4">Role</th>
					<th id="thead-th5">Student Names</th>
				</tr>
			</thead>
			<tbody id="table-body"></tbody>
		</table>
	</div>
</div>
