<div class="data-schedule" data-query="<%= scheduleData %>"></div>
<div class="usd-container">
	<div class="usd-box" id="box-thesis-1">
		<div class="usd-box-head">
			<div class="box-title">Thesis 1</div>
		</div>
		<div class="usd-box-body">
			<div class="field-container">
				<div class="field-title">Schedule</div>
				<div class="field-body">
					<div class="field" id="schedule-date">
						<div class="field-label">Date</div>
						<div class="field-text" id="date1"></div>
					</div>
					<div class="field" id="schedule-time">
						<div class="field-label">Time</div>
						<div class="field-text" id="time1"></div>
					</div>
					<div class="field" id="schedule-room">
						<div class="field-label">Room</div>
						<div class="field-text" id="room1"></div>
					</div>
					<div class="field" id="schedule-thesis-topic">
						<div class="field-label thesis-topic">Thesis Topic</div>
						<div class="field-text thesis-topic" id="thesis-topic1"></div>
					</div>
				</div>
			</div>
			<div class="field-container">
				<div class="field-title">Participants</div>
				<div class="field-body">
					<div class="field" id="part-student">
						<div class="field-label">Student</div>
						<div class="field-text" id="student1"></div>
					</div>
					<div class="field" id="part-supervisor">
						<div class="field-label">Supervisor</div>
						<div class="field-text" id="supervisor1"></div>
					</div>
					<div class="field" id="part-examiner-head">
						<div class="field-label">Reviewer</div>
						<div class="field-text" id="examiner-head1"></div>
					</div>
					<div class="field" id="part-coordinator">
						<div class="field-label">Coorninator</div>
						<div class="field-text" id="coordinator1"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="usd-footer">
			<div class="btn-bap">
				<div>View BAP</div>
			</div>
			<div class="btn-grade">
				<div>View Grade</div>
			</div>
		</div>
	</div>
	<div class="usd-box" id="box-thesis-2">
		<div class="usd-box-head">
			<div class="box-title">Thesis 2</div>
		</div>
		<div class="usd-box-body">
			<div class="field-container">
				<div class="field-title">Schedule</div>
				<div class="field-body">
					<div class="field" id="schedule-date">
						<div class="field-label">Date</div>
						<div class="field-text" id="date2"></div>
					</div>
					<div class="field" id="schedule-time">
						<div class="field-label">Time</div>
						<div class="field-text" id="time2"></div>
					</div>
					<div class="field" id="schedule-room">
						<div class="field-label">Room</div>
						<div class="field-text" id="room2"></div>
					</div>
					<div class="field" id="schedule-thesis-topic">
						<div class="field-label thesis-topic">Thesis Topic</div>
						<div class="field-text thesis-topic" id="thesis-topic2"></div>
					</div>
				</div>
			</div>
			<div class="field-container">
				<div class="field-title">Participants</div>
				<div class="field-body">
					<div class="field" id="part-student">
						<div class="field-label">Student</div>
						<div class="field-text" id="student2"></div>
					</div>
					<div class="field" id="part-supervisor">
						<div class="field-label">Supervisor</div>
						<div class="field-text" id="supervisor2"></div>
					</div>
					<div class="field" id="part-examiner-head">
						<div class="field-label">Examiner Head</div>
						<div class="field-text" id="examiner-head2"></div>
					</div>
					<div class="field" id="part-examiner-team">
						<div class="field-label">Examiner Team</div>
						<div class="field-text" id="examiner-team2"></div>
					</div>
					<div class="field" id="part-coordinator">
						<div class="field-label">Coorninator</div>
						<div class="field-text" id="coordinator2"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="usd-footer">
			<div class="btn-bap">
				<div>View BAP</div>
			</div>
			<div class="btn-grade">
				<div>View Grade</div>
			</div>
		</div>
	</div>
</div>
