<div class="trial-schedule-overview">
	<div class="div">
		<table class="schedule1">
            <tr>
                <th>Nama Mahasiswa</th>
                <th>Dosen Pembimbing</th>
                <th>Ketua Dosen Penguji</th>
                <th>Anggota Dosen Penguji</th>
                <th>Jadwal Sidang</th>
                <th>Jenis Tugas Akhir</th>
            </tr>
            <tr>
                <td>Samuel Edward Winoto</td>
                <td>Mariskha Tri Aditia</td>
                <td>Elisati Hulu</td>
                <td>Rosa de Lima</td>
                <td>Selasa,12 Desember 2023</td>
                <td>Tugas Akhir 1</td>
            </tr>
            <tr>
                <td>Samuel Edward Winoto</td>
                <td>Mariskha Tri Aditia</td>
                <td>Elisati Hulu</td>
                <td>Rosa de Lima</td>
                <td>Selasa,12 Desember 2023</td>
                <td>Tugas Akhir 1</td>
            </tr>
          </table>
        <div class="Schedule2">
            
        </div>
	</div>
</div>

