<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="css/trial-result-style.css" />
		<title>Trial Result</title>
	</head>
	<body>
		<h1>Trial Result</h1>
		<script src="js/trial-result-script.js"></script>
	</body>
</html>
