<div class="container">
  <div class="menambah-data">
    <button id="openPopupButton">Tambah Data</button>

    <!--popup pilihan data yang ingin dimasukan-->
    <div id="popupContainer">
      <div class="popupContent">
        <span class="close" onclick="closePopup()">&times;</span>
        <h2>Pilih data yang ingin di input</h2>
        <div class="popup-pilihan">
          <ul>
            <button id="openPopupButton-mahasiswa">Mahasiswa</button>
            <!--- <a href="another-page.html"><button>Go to Another Page</button></a> -->
          </ul>
          <ul>
            <button id="openPopupButton-penguji">Dosen Penguji</button>
          </ul>
          <ul>
            <button id="openPopupButton-pembimbing">Dosen Pembimbing</button>
          </ul>
        </div>
      </div>
    </div>
    <script>
      document
        .getElementById("openPopupButton")
        .addEventListener("click", openPopup);

      function openPopup() {
        document.getElementById("popupContainer").style.display = "block";
      }

      function closePopup() {
        document.getElementById("popupContainer").style.display = "none";
      }
    </script>

    <!--popup form input data Mahasiswa-->
    <div id="popupContainer-mahasiswa">
      <div class="popupContent-input">
        <div class="top-content">
          <span class="close-input" onclick="closePopupMahasiswa()"
            >&times;</span
          >
          <h2>Silahkan memasukan data Mahasiswa</h2>
        </div>

        <div class="popup-form-input">
          <form class="form-input" action="" method="">
            <label for="nama">Nama:</label>
            <input type="text" id="nama" name="nama" required />
            <label for="npm">NPM:</label>
            <input type="text" id="npm" name="npm" required />
            <label for="dosenPembimbing">Dosen Pembimbing:</label>
            <input
              type="text"
              id="dosenPembimbing"
              name="dosenPembimbing"
              required
            />
            <label for="dosenPenguji">Dosen Penguji:</label>
            <input type="text" id="dosenPenguji" name="dosenPenguji" required />
            <label for="dosenPembimbing">Dosen Pembimbing:</label>
            <input
              type="text"
              id="dosenPembimbing"
              name="dosenPembimbing"
              required
            />
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required />
            <button type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
    <script>
      document
        .getElementById("openPopupButton-mahasiswa")
        .addEventListener("click", openPopupMahasiswa);

      function openPopupMahasiswa() {
        document.getElementById("popupContainer-mahasiswa").style.display =
          "block";
      }

      function closePopupMahasiswa() {
        document.getElementById("popupContainer-mahasiswa").style.display =
          "none";
      }
    </script>

<!--popup form input data Penguji-->
<div id="popupContainer-penguji">
  <div class="popupContent-input">
    <div class="top-content">
      <span class="close-input" onclick="closePopupPenguji()"
        >&times;</span
      >
      <h2>Silahkan memasukan data Penguji</h2>
    </div>

    <div class="popup-form-penguji">
      <form class="form-input" action="" method="post">
        <label for="nama">Nama:</label>
        <input type="text" id="nama" name="nama" required />
        <label for="nik">NIK:</label>
        <input type="text" id="nik" name="nik" required />
        <label for="namaMahasiswa">Nama Mahasiswa:</label>
        <input
          type="text"
          id="namaMahasiswa"
          name="namaMahasiswa"
          required
        />
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
<script>
  document
    .getElementById("openPopupButton-penguji")
    .addEventListener("click", openPopupPenguji);

  function openPopupPenguji() {
    document.getElementById("popupContainer-penguji").style.display =
      "block";
  }

  function closePopupPenguji() {
    document.getElementById("popupContainer-penguji").style.display =
      "none";
  }
</script>

    <!--popup form input data Pembimbing-->
    <div id="popupContainer-pembimbing">
      <div class="popupContent-input">
        <div class="top-content">
          <span class="close-input" onclick="closePopupPembimbing()"
            >&times;</span
          >
          <h2>Silahkan memasukan data Pembimbing</h2>
        </div>

        <div class="popup-form-pembimbing">
          <form class="form-input" action="" method="post">
            <label for="nama">Nama:</label>
            <input type="text" id="nama" name="nama" required />
            <label for="nik">NIK:</label>
            <input type="text" id="nik" name="nik" required />
            <label for="namaMahasiswa">Nama Mahasiswa:</label>
            <input
              type="text"
              id="namaMahasiswa"
              name="namaMahasiswa"
              required
            />
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required />
            <button type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
    <script>
      document
        .getElementById("openPopupButton-pembimbing")
        .addEventListener("click", openPopupPembimbing);

      function openPopupPembimbing() {
        document.getElementById("popupContainer-pembimbing").style.display =
          "block";
      }

      function closePopupPembimbing() {
        document.getElementById("popupContainer-pembimbing").style.display =
          "none";
      }
    </script>
  </div>
  <div class="list-data">
    <h1>list data</h1>
  </div>
</div>
