<div class="container">
  <div class="menambah-data">
    <button id="openPopupButton">Tambah Data</button>
    <div id="popupContainer">
      <div class="popupContent">
        <span class="close" onclick="closePopup()">&times;</span>
        <h2>Pilih data yang ingin di input</h2>
        <div class="popup-pilihan">
          <ul>
            <button>Mahasiswa</button>
           <!--- <a href="another-page.html"><button>Go to Another Page</button></a> -->
          </ul>
          <ul>
            <button>Dosen Penguji</button>
          </ul>
          <ul>
            <button>Dosen Pembimbing</button>
          </ul>
        </div>
      </div>
    </div>
    <script>
      document
        .getElementById("openPopupButton")
        .addEventListener("click", openPopup);

      function openPopup() {
        document.getElementById("popupContainer").style.display = "block";
      }

      function closePopup() {
        document.getElementById("popupContainer").style.display = "none";
      }
    </script>
  </div>
  <div class="list-data">
    <h1>list data</h1>
  </div>
</div>
