body{
    background-color: grey;
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}
.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    margin-top: -10px;
    margin-left: -10px;
    padding:10px;
    background-color: #000AFF;
    color: white;
}
.menu{
background-color: aqua;
margin-right: 5%;
}
.namaHalaman{
    margin-right: 45%;
}
.form-wrapper{
    background-color: #000AFF;
    margin-top: 5vh;
    margin-left: 35%;
    margin-right: 35%;
    border-radius: 10px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
label{
    color:white;
}
input {
    display: flex;
    margin-bottom: 10px;
    text-align: center;
    width: 50%;

}
input:nth-child(15){
    background-color: rgb(54, 255, 54);
    width: 30%;
}

