.home-dosen-penguji {
	top: 0;
	left: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}
.button {
	display: flex;
	position: relative;
	top: 200px;
	flex-direction: row;
	justify-content: flex-start;
}

a[class="Jadwal Sidang"] {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	left: 10%;
	background-color: #046666;
	font-family: "Inter-Regular", Helvetica;
	font-weight: 400;
	color: #ffffff;
	font-size: 25px;
	width: 250px;
	height: 250px;
	border-radius: 20px;
}
.Gambar1 {
	width: 150px;
	height: 150px;
}

a[class="Hasil Sidang"] {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	left: 15%;
	background-color: #046666;
	font-family: "Inter-Regular", Helvetica;
	font-weight: 400;
	color: #ffffff;
	font-size: 25px;
	width: 250px;
	height: 250px;
	border-radius: 20px;
}
.Gambar2 {
	width: 150px;
	height: 150px;
}

a[class="UserManagement"] {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	left: 20%;
	background-color: #046666;
	font-family: "Inter-Regular", Helvetica;
	font-weight: 400;
	color: #ffffff;
	font-size: 25px;
	width: 250px;
	height: 250px;
	border-radius: 20px;
}
.Gambar3 {
	width: 150px;
	height: 150px;
}

a[class="ScheduleManagement"] {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	left: 25%;
	background-color: #046666;
	font-family: "Inter-Regular", Helvetica;
	font-weight: 400;
	color: #ffffff;
	font-size: 25px;
	width: 250px;
	height: 250px;
	border-radius: 20px;
}
.Gambar4 {
	width: 150px;
	height: 150px;
}
