div[class="div"]{
    display: flex;
    align-items: center;
    justify-content: center;
}
table[class="schedule1"],th,td{
    border: 1px solid;
    font-size: medium;
    background-color: white;
    text-align: center;
}
th{
    height: 70px;
    margin: 10px;
}
td{
    width : 200px
}