body{
    width: 100vw;
    height: 100vh;
    background-color: greenyellow;
}
.top{
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}
.top .title{
     background-color: bisque;
     margin-right: 40vw;    
}
.bottom{
    margin-top: 4vh;
    width: 95vw;

    background-color: bisque;
    display: flex;
    flex-direction: column;
    height: 85vh;
    align-items: center;
}
.option{
    margin-top: 3vh;
    background-color: gray;
    display: flex;
    justify-content: center;
    height: 10vh;
    align-items: center;
}

.jadwal{
    background-color: lightcoral;
    height: 70vh;
    width: 95%;
}