.container {
  background-color: grey;
  width: 90vw;
  height: 80vh;
  margin-top: 2%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menambah-data {
  background-color: bisque;
  width: 90vw;
  height: 10vh;
  display: flex;
  justify-content: right;
  align-items: center;
}
#openPopupButton {
  border-radius: 10px;
  background-color: rgb(0, 255, 94);
  width: 7vw;
  height: 5vh;
  margin-right: 5vw;
  cursor: pointer;
  transition: background-color 0.3s;
}
#openPopupButton:hover {
  background-color: aliceblue;
}
#popupContainer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.popupContent {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  width: 60%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
.popup-pilihan {
  display: flex;
  justify-content: center;
}
.popup-pilihan ul button {
  margin: 2vw;
  background-color: grey;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.popup-pilihan ul button:hover {
  background-color: lightgray;
}
#popupContainer-mahasiswa {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  
}
.top-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popupContent-input {
  width: fit-content;
  margin-left: 25vw;
  margin-top: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.top-content h2 {
  padding-left: 2vw;
  padding-right: 2vw;
}
.top-content .close-input {
  font-size: 3vw;
  color: black;
  cursor: pointer;
  padding-right: 2vw;
  margin-left: 50vw;
}
.form-input {
  padding-left: 5vw;
  padding-right: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aqua;
  margin: auto;
}
.form-input input {
  background-color: greenyellow;
  margin-bottom: 1vh;
}
.form-input button {
  background-color: grey;
  margin: 2vw;
  border-radius: 10px;
  padding: 2%;
  cursor: pointer;
}
.form-input button:hover {
  background-color: white;
}
#popupContainer-penguji {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
#popupContainer-pembimbing {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}