<div class="get-schedule-data" data-query="<%= scheduleData %>"></div>
<div class="smo-container">
	<div class="smo-header">
		<div class="box-filter">
			<label for="filter-schedule">Schedule</label>
			<select name="filter_schedule" id="filter-schedule">
				<option value="all">All</option>
				<option value="coming" selected>Coming</option>
				<option value="done">Done</option>
			</select>
		</div>
		<div class="box-filter">
			<label for="filter-thesis-phase">Thesis Phase</label>
			<select name="filter_thesis_phase" id="filter-thesis-phase">
				<option value="all" selected>All</option>
				<option value="thesis1">Thesis 1</option>
				<option value="thesis2">Thesis 2</option>
			</select>
		</div>
		<div class="box-middle">
			<div class="box-search">
				<form action="">
					<input type="text" spellcheck="false" placeholder="Search..." />
				</form>
				<i class="bx bx-search"></i>
			</div>
		</div>
		<div class="box-right">
			<a href="#">
				<div class="btn-add-user">
					<i class="bx bx-user-plus"></i>
				</div>
			</a>
		</div>
	</div>
	<div class="smo-body">
		<table class="table">
			<thead id="table-head">
				<tr>
					<th id="thead-th1">Date</th>
					<th id="thead-th2">Time</th>
					<th id="thead-th3">Thesis Phase</th>
					<th id="thead-th4">Student Names</th>
					<th id="thead-th5">Action</th>
				</tr>
			</thead>
			<tbody id="table-body"></tbody>
		</table>
	</div>
</div>
