.umd-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
	border-radius: 10px;
	border: 5px solid #046666;
}

/* #################################################### */
/* STYLE FOR HEADER */

.umd-container .umd-header {
	position: relative;
	width: 100%;
	height: 60px;
	display: flex;
	align-items: center;
	border-bottom: 5px solid #046666;
	/* width: 800px; */
}

.umd-header .box-action {
	width: 100%;
	display: flex;
	text-align: center;
}

.box-action .btn-edit,
.box-action .btn-choose-role-student,
.box-action .btn-choose-role-lecturer {
	height: 30px;
	border-radius: 5px;
	color: rgb(58, 58, 58);
	background: rgb(173, 173, 173);
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
	user-select: none;
	cursor: pointer;
	line-height: 1.8;
	font-weight: 500;
	font-size: 17px;
	margin: 0 10px 0;
}

.box-action .btn-edit {
	width: 80px;
	margin-left: auto;
}

.box-action .btn-choose-role-student,
.box-action .btn-choose-role-lecturer {
	width: 150px;
}

.box-action .btn-edit:hover,
.box-action .btn-choose-role-student:hover,
.box-action .btn-choose-role-lecturer:hover,
.box-action .btn-edit.active,
.box-action .btn-choose-role-student.active,
.box-action .btn-choose-role-lecturer.active {
	color: whitesmoke;
	background: #046666;
}

/* #################################################### */
/* STYLE FOR BODY - FORM */

.umd-container .umd-body {
	width: 100%;
	justify-content: center;
	align-items: center;
}

.umd-body form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.umd-body form .box-form {
	display: flex;
}

.box-form .box-input {
	width: 600px;
	background: #046666;
	border-radius: 10px;
	margin: 10px 10px 10px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.box-input .box-input-title {
	color: whitesmoke;
	font-weight: 600;
	font-size: 18px;
	margin-bottom: 20px;
}

.box-input .field {
	width: 100%;
	display: flex;

	margin: 5px 0 5px;
}

.field label {
	color: whitesmoke;
}

.field input[type="text"],
.field input[type="email"],
.field input[type="password"] {
	width: 400px;
	background: whitesmoke;
	margin-left: auto;
	border: none;
	border-radius: 5px;
	padding-left: 10px;
	font-size: 14px;
	color: rgb(69, 69, 69);
	font-weight: 500;
	height: 30px;
}

.field select {
	width: 400px;
	background: whitesmoke;
	margin-left: auto;
	border: none;
	border-radius: 5px;
	padding-left: 10px;
	font-size: 14px;
	color: rgb(69, 69, 69);
	font-weight: 500;
	height: 30px;
}

.box-supervisor {
	height: 100%;
	display: flex;
	flex-direction: row;
	width: 400px;
	height: 30px;
	margin-left: auto;
	background: whitesmoke;
	border: none;
	border-radius: 5px;
	padding-left: 10px;
	align-items: center;
	color: rgb(69, 69, 69);
}
.box-supervisor .show-supervisor {
	font-size: 14px;
	font-weight: 500;
}

.box-action-input {
	display: flex;
	margin-left: auto;
}

.box-action-input ion-icon {
	margin: 0 10px 0;
	cursor: pointer;
}

.checkbox-group {
	display: flex;
	justify-content: flex-start;
	color: rgb(69, 69, 69);
	margin-left: auto;
}

.checkbox-group .checkbox-item {
	margin: 0 10px 0;
	display: flex;
	align-items: center;
}

.checkbox-item input[type="checkbox"] {
	width: 20px;
	height: 20px;
	margin-right: 5px;
}

textarea {
	height: 60px;
	width: 400px;
	background: whitesmoke;
	margin-left: auto;
	border: none;
	border-radius: 5px;
	padding-left: 10px;
	font-size: 14px;
	color: rgb(69, 69, 69);
	font-weight: 500;
	resize: none;
}

.checkbox-item label {
	line-height: 1;
	font-size: 15px;
}

input[type="submit"] {
	width: 200px;
	height: 40px;
	border: none;
	border-radius: 10px;
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: 500;
	color: rgb(69, 69, 69);
	user-select: none;
	cursor: pointer;
}
input[type="submit"]:hover {
	color: whitesmoke;
	background: #4287be;
}
